<div id="contacto" class="row py-4">
        <div class="col-md-10 col-lg-4 col-sm-12 offset-md-2">
          <h2>Visitanos</h2>
          <div class="embed-responsive embed-responsive16by9"></div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.341589508994!2d-58.63935247746385!3d-34.65477836384454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc750cef7313b%3A0x9f51cc071d421a5d!2sPlaza%20General%20Manuel%20Belgrano!5e0!3m2!1ses-419!2sar!4v1655737433280!5m2!1ses-419!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!--Cierra Conocenos-->
        <!--Arranca Contactanos-->
        <div class="col-md-12 col-lg-4 col-sm-12 mt-4 mt-sm-0">
          <h2>Contactanos</h2>
          <form>
            <div class="form-row">
              <div class="row">
                <div class="col">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" placeholder="...">
                </div>
                <div class="col">
                  <label for="apellido">Apellido</label>
                  <input type="text" class="form-control" id="apellido" placeholder="...">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="name@example.com">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" placeholder="...">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="cursos">Cursos</label>
                  <select class="form-select">
                    <option selected>Seleccione</option>
                    <option value="1">Regulares</option>
                    <option value="2">Particulares</option>
                  </select>
                </div>
                <div class="col">
                  <label for="nivel">Nivel</label>
                  <select class="form-select">
                    <option selected>Seleccione</option>
                    <option value="1">Principiante</option>
                    <option value="2">Intermedio</option>
                    <option value="3">Avanzado</option>
                  </select>
                </div>
                <div class="col">
                  <label for="edad">Edad</label>
                  <input type="text" class="form-control" id="edad" placeholder="...">
                </div>
              </div>
              <div class="form-group">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary form-submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>