    <div id="equipo" class="row align-items-stretch my-3 equipo py-4">
      <div class="col-lg-8 offset-lg-2">
        <h2>Equipo Docente</h2>
        <div class="row">
          <div class="col-12 col-sm-3 col-lg-3">
            <div class="card h-100">
              <img src="img/profes/profe1.jpg" class="card-img-top" alt="Micaela">
              <div class="card-body">
                <h5 class="card-title">Micaela</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-lg-3">
            <div class="card h-100">
              <img src="img/profes/profe2.jpg" class="card-img-top" alt="Juana">
              <div class="card-body">
                <h5 class="card-title">Juana</h5>
                <p class="card-text">This is a short card.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-lg-3">
            <div class="card h-100">
              <img src="img/profes/profe3.jpg" class="card-img-top" alt="Steph">
              <div class="card-body">
                <h5 class="card-title">Steph</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3 col-lg-3">
            <div class="card h-100">
              <img src="img/profes/profe 4.jpg" class="card-img-top" alt="Pablo">
              <div class="card-body">
                <h5 class="card-title">Pablo</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>