  <div class="container-fluid">
    <div id="home" class="row align-items-center hero">
      <div class="col-lg-3 offset-lg-2">
        <p>Instituto</p>
        <h1>Inspire English</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis sed, labore praesentium dolores qui facilis
          molestias perspiciatis distinctio earum optio quidem illo voluptates. Culpa quis a error asperiores deleniti.
          Exercitationem.</p>
      </div>
    </div>