 <div id="instituto" class="row align-items-center py-4">
      <div class="col-6 col-lg-2 col-sm-4 col-md-3 offset-lg-2">
        <img src="img/instituto/pantalla.jpg" alt="aula" class="img-fluid">
      </div>
      <div class="col-lg-4 col-md6 mt-4 mt-sm-0">
        <h2>Instituto</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit in et perspiciatis corrupti quos
          necessitatibus esse inventore dolorum iste autem! Rerum quam fuga mollitia exercitationem? Ratione qui
          corrupti aut nisi.</p>
      </div>
    </div>