    <div id="novedades" class="row py-4">
      <!--Arranca Novedades-->
      <div class="col-md-5 offset-md-2 py-3">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
          <li><a href="#"> <img src="img/cooking.jpg">Cooking lesson</a></li>
          <li><a href="#"> <img src="img/puppets.jpg">Puppet Theatre</a></li>
          <li><a href="#"> <img src="img/paint.jpg">Art lesson</a></li>
          <li><a href="#"> <img src="img/Museum trip.jpg">Museum trip</a></li>
          <li><a href="#"> <img src="img/notebook.jpg"> New Courses</a></li>
        </ul>
      </div>
      <!--Cierra Novedades-->
      <!--Arranca Testimonios-->
      <div class="col-md-3">
        <div class="rounded py-3 testimonios h-100">
          <h2 class="text-center">Testimonios</h2>
          <div id="testimonios" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="testimonio">
                  <h5>¡Las clases son súper entretenidas!</h5>
                  <p>Juan, papá de Juli</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="testimonio">
                  <h5>¡Las profes son lo más! Tienen mucha paciencia para explicar y le ponen toda la onda a las clases.
                  </h5>
                  <p>Nacho, alumno</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="testimonio">
                  <h5>Un placer estudiar un idioma tan esencial hoy en día... además, la edad no es un límite para
                    empezar.</h5>
                  <p>Mónica, alumna</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#testimonios" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#testimonios" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <!--Cierra Testimonios-->
    </div>